<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzt.dao.DataScriptServiceMapper">
  <resultMap id="BaseResultMap" type="com.lzt.entity.DataScript">   
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
  </resultMap>
   <select id="getTableNames" parameterType="java.lang.String" resultMap="BaseResultMap">
   			SELECT table_name FROM information_schema.tables WHERE table_schema='lzt';
   </select>
   
   <select id="getTablecolumns" parameterType="java.lang.String" resultType="java.lang.String">
   			SELECT column_name FROM information_schema.columns WHERE table_name=#{tableName} AND table_schema='lzt';
   </select>
   
   <select id="createData" parameterType="java.lang.String" >
   			call ${tableName} (0,#{dataCont});
   </select>
</mapper>