<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzt.dao.ShiJuanMapper">
	<resultMap id="BaseResultMap" type="com.lzt.entity.ShiJuan">
		<id column="sj_id" jdbcType="VARCHAR" property="sjId" />
		<result column="ksr_id" jdbcType="VARCHAR" property="ksrId" />
		<result column="ksr_quest_ids" jdbcType="VARCHAR" property="ksrQuestIds" />
		<result column="ksr_sj_num" jdbcType="INTEGER" property="ksrSjNum" />
		<result column="ksr_total" jdbcType="VARCHAR" property="ksrTotal" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<resultMap id="ShiJuanMap" type="com.lzt.entity.ShiJuanVo">
		<id column="sj_id" jdbcType="VARCHAR" property="sjId" />
		<result column="quest_id" jdbcType="VARCHAR" property="questId" />
		<result column="ksr_content" jdbcType="VARCHAR" property="ksrContent" />
		<result column="ans_content" jdbcType="VARCHAR" property="ansContent" />
		<result column="quest_content" jdbcType="VARCHAR" property="questContent" />
		<result column="option_a" jdbcType="VARCHAR" property="optionA" />
		<result column="option_b" jdbcType="VARCHAR" property="optionB" />
		<result column="option_c" jdbcType="VARCHAR" property="optionC" />
		<result column="option_d" jdbcType="VARCHAR" property="optionD" />
		<result column="ksr_sj_num" jdbcType="INTEGER" property="ksrSjNum" />
		<result column="ksr_total" jdbcType="VARCHAR" property="ksrTotal" />
	</resultMap>
	
	<sql id="Base_Column_List">
		sj_id, ksr_id, ksr_quest_ids, ksr_sj_num, ksr_total, create_time,
		update_time
	</sql>
	
	<select id="selBysjId" parameterType="java.lang.String"
		resultMap="ShiJuanMap">
		 SELECT kda.sj_id,kda.quest_id,kda.ksr_content,da.ans_content,wt.quest_content,wt.option_a,wt.option_b,wt.option_c,wt.option_d,sj.ksr_sj_num,sj.ksr_total
		 FROM ksr_da_an kda INNER JOIN wen_ti wt ON kda.quest_id=wt.quest_id INNER JOIN shi_juan sj ON sj.sj_id= kda.sj_id  INNER JOIN da_an da ON da.quest_id = kda.quest_id
		 WHERE kda.sj_id=#{sjId} ORDER BY kda.shun_xu;
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shi_juan
		where sj_id = #{sjId,jdbcType=VARCHAR}
	</select>

	<select id="selByKsrSjNum" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shi_juan
		where ksr_id = #{ksrId} ORDER BY ksr_sj_num DESC;
	</select>

	<select id="selMaxByksrId" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select MAX(ksr_sj_num) from shi_juan where ksr_id = #{ksrId}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from shi_juan
		where sj_id = #{sjId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.lzt.entity.ShiJuan">
		insert into shi_juan (sj_id, ksr_id, ksr_quest_ids,
		ksr_sj_num, ksr_total, create_time,
		update_time)
		values (#{sjId,jdbcType=VARCHAR}, #{ksrId,jdbcType=VARCHAR},
		#{ksrQuestIds,jdbcType=VARCHAR},
		#{ksrSjNum,jdbcType=INTEGER}, #{ksrTotal,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.lzt.entity.ShiJuan">
		insert into shi_juan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sjId != null">
				sj_id,
			</if>
			<if test="ksrId != null">
				ksr_id,
			</if>
			<if test="ksrQuestIds != null">
				ksr_quest_ids,
			</if>
			<if test="ksrSjNum != null">
				ksr_sj_num,
			</if>
			<if test="ksrTotal != null">
				ksr_total,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sjId != null">
				#{sjId,jdbcType=VARCHAR},
			</if>
			<if test="ksrId != null">
				#{ksrId,jdbcType=VARCHAR},
			</if>
			<if test="ksrQuestIds != null">
				#{ksrQuestIds,jdbcType=VARCHAR},
			</if>
			<if test="ksrSjNum != null">
				#{ksrSjNum,jdbcType=INTEGER},
			</if>
			<if test="ksrTotal != null">
				#{ksrTotal,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lzt.entity.ShiJuan">
		update shi_juan
		<set>
			<if test="ksrId != null">
				ksr_id = #{ksrId,jdbcType=VARCHAR},
			</if>
			<if test="ksrQuestIds != null">
				ksr_quest_ids = #{ksrQuestIds,jdbcType=VARCHAR},
			</if>
			<if test="ksrSjNum != 0">
				ksr_sj_num = #{ksrSjNum,jdbcType=INTEGER},
			</if>
			<if test="ksrTotal != null">
				ksr_total = #{ksrTotal,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where sj_id = #{sjId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lzt.entity.ShiJuan">
		update shi_juan
		set ksr_id = #{ksrId,jdbcType=VARCHAR},
		ksr_quest_ids = #{ksrQuestIds,jdbcType=VARCHAR},
		ksr_sj_num = #{ksrSjNum,jdbcType=INTEGER},
		ksr_total = #{ksrTotal,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where sj_id = #{sjId,jdbcType=VARCHAR}
	</update>
</mapper>