<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzt.dao.SpuMapper">
  <resultMap id="BaseResultMap" type="com.lzt.entity.Spu">
    <id column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="chanpin_name" jdbcType="VARCHAR" property="chanpinName" />
    <result column="erji_id" jdbcType="VARCHAR" property="erjiId" />
    <result column="pinpai_id" jdbcType="VARCHAR" property="pinpaiId" />
    <result column="jianjie" jdbcType="VARCHAR" property="jianjie" />
    <result column="xiangqing" jdbcType="VARCHAR" property="xiangqing" />
  </resultMap>
  
  <resultMap id="ProdMap" type="com.lzt.entity.ProdVo">
  <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
  	<result column="chanpin_name" jdbcType="VARCHAR" property="chanpinName" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="jiage" jdbcType="DECIMAL" property="jiage" />
    <collection property="myPicture" resultMap="PicMap" />
  </resultMap>
  
  <resultMap id="PicMap" type="com.lzt.entity.MyPicture">
    <result column="tupian_name" jdbcType="VARCHAR" property="tupianName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    spu_id, chanpin_name, erji_id, pinpai_id, jianjie, xiangqing
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spu
    where spu_id = #{spuId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByAll" parameterType="com.lzt.entity.Spu" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spu
    <where>
	    <trim suffixOverrides="AND">
	    	<if test="spuId != null">
	    		spu_id = #{spuId} AND
	    	</if>
	    	<if test="chanpinName != null">
	    		chanpin_name = #{chanpinName} AND
	    	</if>
	    	<if test="erjiId != null">
	    		erji_id = #{erjiId} AND
	    	</if>
	    	<if test="pinpaiId != null">
	    		pinpai_id = #{pinpaiId} AND
	    	</if>
	    	<if test="jianjie != null">
	    		jianjie = #{jianjie} AND
	    	</if>
	    	<if test="xiangqing != null">
	    		xiangqing = #{xiangqing} AND
	    	</if>
    	</trim>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spu
    where spu_id = #{spuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lzt.entity.Spu">
    insert into spu (spu_id, chanpin_name, erji_id, 
      pinpai_id, jianjie, xiangqing
      )
    values (#{spuId,jdbcType=VARCHAR}, #{chanpinName,jdbcType=VARCHAR}, #{erjiId,jdbcType=VARCHAR}, 
      #{pinpaiId,jdbcType=VARCHAR}, #{jianjie,jdbcType=VARCHAR}, #{xiangqing,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lzt.entity.Spu">
    insert into spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="chanpinName != null">
        chanpin_name,
      </if>
      <if test="erjiId != null">
        erji_id,
      </if>
      <if test="pinpaiId != null">
        pinpai_id,
      </if>
      <if test="jianjie != null">
        jianjie,
      </if>
      <if test="xiangqing != null">
        xiangqing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuId != null">
        #{spuId,jdbcType=VARCHAR},
      </if>
      <if test="chanpinName != null">
        #{chanpinName,jdbcType=VARCHAR},
      </if>
      <if test="erjiId != null">
        #{erjiId,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiId != null">
        #{pinpaiId,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null">
        #{jianjie,jdbcType=VARCHAR},
      </if>
      <if test="xiangqing != null">
        #{xiangqing,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzt.entity.Spu">
    update spu
    <set>
      <if test="chanpinName != null">
        chanpin_name = #{chanpinName,jdbcType=VARCHAR},
      </if>
      <if test="erjiId != null">
        erji_id = #{erjiId,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiId != null">
        pinpai_id = #{pinpaiId,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null">
        jianjie = #{jianjie,jdbcType=VARCHAR},
      </if>
      <if test="xiangqing != null">
        xiangqing = #{xiangqing,jdbcType=VARCHAR},
      </if>
    </set>
    where spu_id = #{spuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzt.entity.Spu">
    update spu
    set chanpin_name = #{chanpinName,jdbcType=VARCHAR},
      erji_id = #{erjiId,jdbcType=VARCHAR},
      pinpai_id = #{pinpaiId,jdbcType=VARCHAR},
      jianjie = #{jianjie,jdbcType=VARCHAR},
      xiangqing = #{xiangqing,jdbcType=VARCHAR}
    where spu_id = #{spuId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectProd" parameterType="java.util.Map" resultMap="ProdMap">
  		SELECT sk.sku_id,pic.tupian_name,sp.chanpin_name ,sk.sku_name,sk.jiage
		FROM my_picture pic INNER JOIN spu sp ON pic.spu_id=sp.spu_id INNER JOIN sku sk ON sp.spu_id=sk.spu_id
		WHERE sp.erji_id=#{erjiId} GROUP BY sk.sku_id
		<if test="orderBy!=0">
			ORDER BY 
			<if test="orderBy==1">
				xiaoLiang
			</if> 
			<if test="orderBy==2">
				jiage
			</if> 
			<if test="orderBy==3">
				pingLun
			</if>
			<if test="orderBy==4">
				startTime
			</if>
			<if test="sc == 0">
				ASC
			</if>
			<if test="sc == 1">
				DESC
			</if>
		</if>
		<if test="m != null and n !=null">
        	LIMIT #{m},#{n}
      	</if>;
  </select>
  
  <select id="selectProdCount" parameterType="com.lzt.entity.Spu" resultType="java.lang.Integer">
  		SELECT COUNT(sk.sku_id) FROM  spu sp  INNER JOIN sku sk ON sp.spu_id=sk.spu_id
		WHERE sp.erji_id=#{erjiId} ;
  </select>
</mapper>